{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5" >
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">Checkout</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a href="/index">Home</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">Checkout</p>
        </div>
    </div>
</div>
<!-- Page Header End -->


<!-- Order Confirmation Start -->
<div class="container-fluid pt-5">
    <div class="row px-xl-5">
        <div class="col-12">
            <div class="card border-success mb-5">
                <div class="card-body text-center">
                    <h3 class="font-weight-bold mb-4">Thank You for Your Order!</h3>
                    <p>Your order will be delivered at the earliest possible time. We appreciate your patience and are committed to ensuring a swift delivery.</p>
                    <a href="/index" class="btn btn-primary">Continue Shopping</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Order Confirmation End -->
{% endblock content %}